<div id=results>
 <%= javascript_tag "closePopup();" %>
<%fact_list = facts_to_show["Facts"] %>
    
<% @position = @position.to_i %>

<div id="opaque">
<table style="border-collapse:collapse;position:absolute;left:10%" cellpadding=4>
    <thead>
        <tr class="odd">
            <td></td>
            <th> Fqdn</th>
            <th> Last Check</th>
            <% fact_list.sort.each do |fact| %>
                <th> <%= fact.capitalize %></th>
            <% end %>
            <th colspan=4> Actions</th>
        </tr>
    </thead>
    
    <% @nodes, size = get_node_list(@position) %>
    
    <% @nodes.each_with_index do |node, i| %>
        <tr class="<%= cycle("even", "odd")%>">
            <td> <%= i + ((@position -1) * 15) + 1%></td>
            <td> <%= node["fqdn"] %> </td>
            <td> <%= Time.at(node["lastseen"]) %></td>
            <% fact_list.sort.each do |fact| %>
                <td> <%= node["facts"][fact] %> </td>
            <% end %>
            <td> <%= button_to_remote "Inventory", {:url=>{:action => :get_inventory, 
                                                   :fqdn => node["fqdn"]}}, 
                                                   {:class => "button fg-button ui-state-default ui-corner-all disable", 
                                                   :onclick => "spin();"} %></td>
            <td> <%= button_to_remote "Status", {:url=>{:action => :get_status, 
                                                :fqdn=> node["fqdn"]}}, 
                                                {:class=>"button fg-button ui-state-default ui-corner-all disable", 
                                                :onclick => "spin();"} %></td>
            <td> <%= button_to_remote "Enable", {:url=>{:action => :enable_puppet, 
                                                :fqdn=> node["fqdn"]}}, 
                                                {:class=>"button fg-button ui-state-default ui-corner-all disable", 
                                                :onclick => "spin();"} %> </td>
            <td> <%= button_to_remote "Disable",{:url=>{:action => :disable_puppet, 
                                                :fqdn=> node["fqdn"]}}, 
                                                {:class=>"button fg-button ui-state-default ui-corner-all disable", 
                                                :onclick => "spin();"} %> </td>
        </tr>
    <% end %>
</table>
<div style="position:absolute;left:55%;bottom:20%;" class="fg-toolbar ui-corner-all ui-helper-clearfix" id="paginate-menu">
    <div class="fg-buttonset ui-helper-clearfix">
            <% unless @position == 1 %>
                <%= button_to_remote "<<", {:url => {:action => :index, :position => @position - 1}, :update => {:success => "results"}}, 
                    :class => "fg-button ui-state-default ui-corner-all" %> &nbsp;
                <%else%>
                    <button type="button" id="hideme" class="fg-button ui-state-default ui-corner-all">>></button>
            <% end %>
            <%# ((size / 15) + 1 unless (size % 15) == 0).times do |i|%>
              <%#= button_to_remote "#{i+1} " , {:url => {:action => :index , :position => i + 1}, :update => {:success => "results"}},
                    {:id => "#{i+1}", :class=> "fg-button ui-state-default ui-corner-all"} %> 
                    <%# end %>
            <% if @position > 2 %>
                <%= button_to_remote "1" , {:url => {:action => :index , :position => 1}, :update => {:success => "results"}},
                    {:id => "#{1}", :class=> "fg-button ui-state-default ui-corner-all"} %>...

            <% end %>

            <% unless @position -1 == 0 %>
                <%= button_to_remote "#{@position -1 } " , {:url => {:action => :index , :position => @position -1}, :update => {:success => "results"}},
                    {:id => "#{@position - 1}", :class=> "fg-button ui-state-default ui-corner-all"} %>
            <% end %>
            <%= button_to_remote "#{@position} " , {:url => {:action => :index , :position => @position}, :update => {:success => "results"}},
                {:id => "#{@position}", :class=> "fg-button ui-state-default ui-corner-all"} %>
            <% unless @position + 1 > ((size / 15) + 1 unless (size % 15) == 0) %>
                <%= button_to_remote "#{@position + 1} " , {:url => {:action => :index , :position => @position + 1}, :update => {:success => "results"}},
                    {:id => "#{@position + 1}", :class=> "fg-button ui-state-default ui-corner-all"} %>
            <% end %>
            <% if @position < ((size / 15 - 1) + 1 unless (size % 15) == 0) %>
                    ...
                    <%= button_to_remote "#{((size / 15) + 1 unless (size % 15)==0)}" , {:url => {:action => :index , :position => ((size / 15) + 1 unless (size % 15)==0)}, :update => {:success => "results"}},
                    {:id => "#{@position + 1}", :class=> "fg-button ui-state-default ui-corner-all"} %>
            <% end %>

            <% unless @position == ((size / 15) + 1 unless (size % 15) == 0) %>
                &nbsp;<%= button_to_remote ">>", {:url => {:action => :index, :position => @position + 1},  :update => {:success => "results"}},
                                                    :class=> "fg-button ui-state-default ui-corner-all"%>
            <% else %>
                <button type="button" id="hideme" class="fg-button ui-state-default ui-corner-all">>></button>
            <% end %>
    </div>
</div>
</div>
<div id="popupWindow" class="popup" style="overflow:auto">
    <div id="popupContent" class="ui-widget-content"></div>
</div>

<div id="inputWindow" class="inpopup">
    <div id="inputContent" class="ui-widget-content"></div>
</div>

<div id="spinner" style="display:none">
    <%= image_tag "ajax-loader.gif" %>
</div>

</div>

<%= javascript_tag "setColor(#{@position})" %>
