<%= javascript_tag "" %>

<div id=results>
<%= javascript_tag "closePopup();" %>
    
<% @position = @position.to_i %>

<div id="opaque">
<table style="border-collapse:collapse;" cellpadding=4>
    <thead>
        <tr class="odd">
            <td></td>
            <th> Fqdn</th>
            <th> Last Check</th>
            <th> Location</th>
            <th> Country</th>
            <th colspan=4> Actions</th>
        </tr>
    </thead>
    
    <% @nodes, size = get_node_list(@position) %>
    
    <% @nodes.each_with_index do |node, i| %>
        <tr class="<%= cycle("even", "odd")%>">
            <td> <%= i + ((@position -1) * 15) + 1%></td>
            <td> <%= node["fqdn"] %> </td>
            <td> <%= Time.at(node["lastseen"]) %></td>
            <td> <%= node["facts"]["location"] %> </td>
            <td> <%= node["facts"]["country"] %> </td>
            <td> <%= button_to_remote "Inventory", {:url=>{:action => :get_inventory, :fqdn => node["fqdn"]}}, :class => "button fg-button ui-state-default ui-corner-all" %></td>
            <td> <%= button_to_remote "Status", {:url=>{:action => :get_status, :fqdn=> node["fqdn"]}}, :class=>"button fg-button ui-state-default ui-corner-all" %>  </td>
            <td> <%= button_to_remote "Enable", {:url=>{:action => :enable_puppet, :fqdn=> node["fqdn"]}}, :class=>"button fg-button ui-state-default ui-corner-all" %> </td>
            <td> <%= button_to_remote "Disable", {:url=>{:action => :disable_puppet, :fqdn=> node["fqdn"]}}, :class=>"button fg-button ui-state-default ui-corner-all" %> </td>
        </tr>
    <% end %>
</table>
<div style="position:absolute;right:17%;top:90%;" class="fg-toolbar ui-corner-all ui-helper-clearfix">
    <div class="fg-buttonset ui-helper-clearfix">
            <% unless @position == 1 %>
                <%= button_to_remote "<<", {:url => {:action => :index, :position => @position - 1}, :update => {:success => "results"}}, 
                                            :class => "fg-button ui-state-default ui-corner-all" %> &nbsp;
            <% end %>
            <% ((size / 15) + 1 unless (size % 15) == 0).times do |i|%>
                <%= button_to_remote "#{i+1} " , {:url => {:action => :index , :position => i + 1}, :update => {:success => "results"}},
                    {:id => "#{i+1}", :class=> "fg-button ui-state-default ui-corner-all"} %> 
            <% end %>
            <% unless @position == ((size / 15) + 1 unless (size % 15) == 0) %>
                &nbsp;<%= button_to_remote ">>", {:url => {:action => :index, :position => @position + 1},  :update => {:success => "results"}},
                                                    :class=> "fg-button ui-state-default ui-corner-all"%>
            <% else %>
                <button type="button" id="hideme" class="fg-button ui-state-default ui-corner-all">>></button> <!-- Fix this messy shit -->
            <% end %>
    </div>
</div>
</div>
<div id="popupWindow" class="popup" style="overflow:auto">
    <div id="popupContent" class="ui-widget-content"></div>
</div>

<div id="inputWindow" class="inpopup">
    <div id="inputContent" class="ui-widget-content"></div>
</div>

</div>

<%= javascript_tag "setColor(#{@position})" %>
